@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 225 90% 15%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 97%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 228,96.5%,88.8%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 225 90% 15%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 18%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 30%;   
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 292,91.4%,72.5%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-6xl xl:max-w-7xl px-8;
  }
}

.animation-set-image {
  @apply transform transition-all duration-300 hover:scale-110
}


h1, h2, h3, h4, h5, h6 {
  @apply text-foreground/80
}

p {
  @apply text-foreground/75
}

.card-set-shadow {
  @apply  shadow-none border-background py-4 px-4 rounded-lg transform transition-all duration-200 hover:bg-gradient-to-r hover:from-violet-500  hover:to-primary/70 hover:shadow-primary/30 hover:shadow-lg hover:scale-105
}

.set-shadow {
  @apply  shadow-none transform transition-all duration-300 hover:shadow-primary/30 hover:shadow-lg
}
.card-shadow-xl {
  @apply  shadow-none  transform transition-all duration-200 hover:bg-gradient-to-r hover:from-violet-500 hover:to-primary/70 hover:shadow-primary/30 hover:shadow-xl
}



@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: currentColor;
  }
  .text-stroke-sm {
    -webkit-text-stroke-width: 1px;
  }
  .text-stroke-lg {
    -webkit-text-stroke-width: 3px;
  }
  .add-transition {
    transition: all 300ms ease-in-out
  }
  .bg-hover:hover {
    @apply bg-gradient-to-r from-violet-500 to-primary/70;
  }
}